<?xml version="1.0" encoding="utf-8"?>
<manifest package="it.polito.groupmasterapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".add_members.CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".create_group.CreateNewGroupActivity"
            android:label="@string/title_activity_create_new_group"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name=".data.source.fcm_services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".data.source.fcm_services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".group_actions.GroupActionsActivity"
            android:label="@string/title_activity_group_actions"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <service
            android:name=".data.source.GroupService"
            android:enabled="true"
            android:exported="false">
        </service>

        <service
            android:name=".add_members.EddystoneService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>